.submit-login-ku {
    background-color: rgb(248, 161, 0);
    color: white;
    border-radius: 10px;
    width: 100%;
}

.registrasi_ku {
    background: rgb(248, 161, 0);
    color: white;
    border-radius: 10px;
    width: 100%;
    padding: 5px;
}

.judul {
    word-spacing: 3px;
    letter-spacing: 2px;

}

.active {
    color: #ff8800;
}